.Rproj.user
.Rhistory
.RData
.Ruserdata
test.html
/inst/rmarkdown/templates/SimpleWithinGpu/skeleton/*.html
/inst/rmarkdown/templates/simple/skeleton/*.html
/inst/rmarkdown/templates/SingleVmMap/skeleton/*.html
